[flake8]
# Specify the max line length allowed (We extend the max length because Django may not satisfy PEP8 max length)
max-line-length = 128

# Ignore unused import
ignore = F401

# Exclude certain files and directories
exclude = 
    frontend,   # Exclude the frontend folder
    .git,       # Ignore git directory
    __pycache__,# Ignore Python cache
    migrations, # Ignore Django migrations
    env,        # Ignore virtual environment
    venv,       # Ignore virtual environment
    .venv       # ignore virtual environment
    .github,    # Ignore github directory
    */settings.py # Ignore Django settings
    */__init__.py # Ignore __init__ file
    */constants.py # Ignore constant file


per-file-ignores =
    chat/tests/test_websocket.py: E501
    activities/views/activity_detail.py: W504
    activities/views/activity_paritipant.py: W504

# Show the source code line for the error/warning
show-source = True
